.nav-link.active{
    border-bottom: 1px solid black;
}

.nav-link:hover{
    border-bottom: 1px solid black;
}

.nav-item{
    padding: 0px 30px;
}

.container img{
    height: 22px;
}

footer{
    margin-top: 100px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
}


.footer-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.footer-item li{
    font-size: 12px;
}


