.hero{
    text-align: center;
    height: 900px;
}
.hero img{
    width: 960px;
    height: 613.74px;
}

.PS h5{
    margin-bottom: 100px;
}

.abstract-1{
    width: 485px;
    height: 485px !important;
}

.list-style li{
    list-style: none;
}

.empathize{
    width: 315px;
height: 542px;
}



