.hero{
    text-align: center;
}


.list-style li{
    list-style: none;
}


.abstract-2{
    width: 80%;
    height: auto !important;
    margin-left: 100px;
}

.HI{
    margin-top: auto;
}

.HI h5{
    margin-bottom: 100px;
}

.CA{
    justify-content: space-evenly;
}

.UP{
    justify-content: space-evenly;
}

.EM{
    justify-content: space-evenly;
}

.abstract-3{
    width: 40%;
    height: auto !important;
}

.text{
    margin: auto;
    text-align: center;
}

.text h3{
    margin-top: 50px;
}

.abstract-4{
    width: 30%;
    height: auto !important;
}

/* part */
.part-1{
    margin-top: 200px;
}

.part-2{
    margin-top: 100px;
}

.part-4{
    text-align: center;
    margin-top: 200px;
}

.part-5{
    text-align: center;
}


.part-6{
    margin-top: 200px;
    text-align: center;
}

.part-7{
    text-align: center;
    margin-top: 200px;
}


.part-8{
    text-align: center;
    margin-top: 200px;
}

.part-11{
    text-align: center;
    margin-top: 200px;
}

.part-12{
    text-align: center;
    margin-top: 200px;
}

.part-11 img{
    width: 80%;
}

.part-12 table{
    width: 80%;
}

.part-13{
    text-align: center;
    margin-top: 100px;
}

.part-14{
    text-align: center;
    margin-top: 200px;
}

.part-15{
    text-align: center;
}



