/* font */
h1{
    font-size: 96px;
    font-weight: 300;
}
h2{
    font-size: 64px;
    font-weight: 300;
}
h3{
    font-size: 32px;
    font-weight: 300;
}
h4{
    font-size: 22px;
    font-weight: 300;
}
h5{
    font-size: 16px;
    font-weight: 300;
}
.font-PD{
    font-family: 'Playfair Display';
}

/* background */
body{
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #EAEAEA;
}

.title{
    margin: 70px;
}

/* content */
.hero img{
    width: 100%;
    height: auto;
}

.PS{
    margin: auto;
}
    
.PS h5{
    margin-bottom: 100px;
}

.abstract-1{
    width: 80%;
    height: auto !important;
    margin-left: 100px;
    margin-bottom: 100px;
}

.break{
    width: auto;
    height: auto !important;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.table{
    width: 100%;
    height: auto !important;
    margin-top: 50px;
}

/* footer */
footer{
    background: none;
    color: black;
    margin: 30px 0px;
}

footer li{
    list-style-type: none;  
}

@media only screen and (max-width: 768px){
    .abstract{
        display: none;
    }
    .part-2 ul{
        margin-top: 50px;
    }
}