body{
    background-image: url("../images/background/project_bg.png");
}
@media only screen and (max-width: 1098px){
    body{
        background-image: url("../images/sm/background/project_bg.png");
    
    }
}

.project-nav.active{
    border-bottom: 1px solid white;
}

.project-nav:hover{
    border-bottom: 1px solid white;
}

.project-content{
    display: flex;
    justify-content: center top;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 10vh;
}

.project-content h2{
    color: white;
    letter-spacing: 0.18em;
    text-align: center;
}


.project-content h5{
    color: white;
    padding: 10px;
}