body{
    min-height: 100vh;
}


.project-nav.active{
    border-bottom: 1px solid white;
}

.project-nav:hover{
    border-bottom: 1px solid white;
}

.project-content{
    display: flex;
    justify-content: center top;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 10vh;
}

.project-content h2{
    color: white;
    letter-spacing: 0.18em;
    text-align: center;
}


.project-content h5{
    color: white;
    padding: 10px;
}

.pr1{
    background-image: url("../images/background/pr1_bg.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pr2{
    background-image: url("../images/background/pr2_bg.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pr3{
    background-image: url("../images/background/pr3_bg.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 992px){
    .pr1{
        background-image: url("../images/sm/background/pr1_bg_sm.png");
    }
    .pr2{
        background-image: url("../images/sm/background/pr2_bg_sm.png");
    }
    .pr3{
        background-image: url("../images/sm/background/pr3_bg_sm.png");
    }
}

footer{
    margin-top: 0;
}