body{
    background-image: url("../images/background/resume_bg.png");

}

.content-1 li{
    list-style: square;
}

.line-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-upper{
    padding-left: 40%;
    margin: 8% 0%;
}

.row{
    padding-left: 20%;
}

