body{
    background-color: black;
}

.resume-item{
    color: white;
    margin-left: 200px;
}

.content-1 li{
    list-style: square;
}

.line-2{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content-upper{
    width: 620px;
    margin: 8% 0%;
}



.resume-content{
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.resume-title{
    color: white;
}





@media only screen and (max-width: 1200px){
    .resume-item{
        margin:auto
    }
}

@media only screen and (max-width: 992px){
    .resume-content{
        margin:auto
    }
}

@media only screen and (max-width: 768px){
    .line-2{
        display: block;
    }
    .content-upper{
        margin-top: 80px;
        margin-bottom: 200px;
    }
    .line-2 h4{
        padding: 15px 0px;
    }
    .resume-img{
        display: none;
    }
    body{
        background-image: url("../images/sm/background/resume_bg_sm.png");
        background-position: top center;
    }
    .resume-title{
        margin-bottom: 150px;
    }
    .content-1{
        margin: 60px 0px;
    }
    .content-2{
        margin-left: 300px;
    }
    .content-3{

    }
}


